{% extends 'base.html.twig' %}
{% block body %}
    <h1>liste des locataires</h1>
    {{ dump(residences) }}
    {% for residence in residences %}
        {{ residence.name }}
    {% endfor %}
    {#    <table class="table"> #}
    {#        <thead> #}
    {#        <tr> #}
    {#            <th scope="col">#</th> #}
    {#            <th scope="col">nom</th> #}
    {#            <th scope="col">prenom</th> #}
    {#            <th scope="col">prenom</th> #}
    {#        </tr> #}
    {#        </thead> #}
    {#        <tbody> #}
    {#        {% for user in users %} #}
    {#            <tr> #}
    {#                <th scope="row">{{ loop.index }}</th> #}
    {#                <td><a href="/user/{{ user.id }}">{{ user.lastName }}</a></td> #}
    {#                <td>{{ user.name }}</td> #}
    {#            </tr> #}
    {#        {% endfor %} #}
    {#        </tbody> #}
    {#    </table> #}

{% endblock %}