{% extends 'base.html.twig' %}
{% block body %}
    <div style="margin-left: 10%;margin-top:3%;float: left;">
    <div class="card mb-3" style="max-width: 1000px;border: none; margin-left:3%;">
    <div style="float: left; width:1%;"></div>
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start" alt="..." src="uploads/{{ residence.file }}">
            {{ form_start(form, { attr: { id: 'form-edit_owner', novalidate: 'novalidate' } }) }}
            {{ form_row(form.name) }}
            <div style="float: left">{{ form_row(form.city) }}{{ form_row(form.zip_code) }}</div>
            {{ form_row(form.country) }}
            {{ form_row(form) }}
            <button style="margin-top: 3%" class="btn btn-success" type="submit">Mettre à jour les données
            </button>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 style="color: #9F5540">{{ residence.name }}</h1>
            </div>
            <div>
                {% if LastRent ==  null or LastRent[0].departureDate|date("m/d/Y") < "now"|date("m/d/Y") %}
                    Disponible à la location
                {% else %}
                    Non disponible à la location
                {% endif %}
                <a href="{{ path('addLocation' ,{'id': residence.id})}}" class="btn btn-success" type="button">Ajouter une location</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date entrée</th>
                        <th scope="col">Date sortie</th>
                        <th scope="col">locataire</th>
                        <th scope="col">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rent in rents %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ rent.arrivalDate|date("d/m/Y") }}</td>
                            <td>{{ rent.departureDate|date("d/m/Y") }}</td>
                            <td>{{ rent.tenant.name }} {{ rent.tenant.lastName }}</td>
                            <td>
                                <a  href="{{ path('infoResidence', {'id': rent.id}) }}" type="button" class="btn " style="background-color: #9F5540 ;color: white">
                                    Acceder
                                </a>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>

{% endblock %}