{% extends 'base.html.twig' %}
{% block body %}

    <h3 style="color: #9F5540"> {{ nb[1] }} bien <a class="btn btn-success" href="/addResidence">ajouter</a></h3>    <div class="card mb-3" style="max-width: 540px;">
    {% for residence in residences %}

        <div style="float: left; width:1%;"></div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="img-fluid rounded-start" alt="..." src="uploads/{{ residence[0].residenceFile }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <h5 class="card-title" style="color: #9F5540">{{ residence[0].residenceName }} <a href="/editresidence/{{ residence[0].residenceId }}" class="btn" style="color: #9F5540">accede</a></h5>
                            <p class="card-text">disponible : {{ residence[0].arrival_date|date('d/m/Y') }}
                            <p>gerer par : {{ residence[0].name }}{{ residence[0].lastName }}</p>

                    {% if residence[0].tenantId == null %}
            Non occupé
            {% else %}
            <br>Actuellement occupé
            <br>{{ residence[0].nbLocationTotal }}
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    {% endfor %}
{% endblock %}