{% extends 'base.html.twig' %}
{% block body %}
    <h3> {{ nb[1] }} bien </h3>
    {% for residence in residences %}
        <p>{{ residence.residence.name }}</p>
        <p>disponible {{ residence.available|date("m/d/Y") }}</p>
        <p>Gere par {{ residence.owner.name }} {{ residence.owner.lastName }}</p>
        {% if residence.tenant.id == NULL %}
            Non occupé
        {% else %}
            Actuellement occupé
        {% endif %}
    {% endfor %}

{% endblock %}