{% extends 'base.html.twig' %}
{% block body %}
    <h3> {{ nb[1] }} bien </h3>
    {% for residence in residences %}
        {{ residence[0].name }}
        {{ residence[0].lastName }}
        {{ residence[0].residenceName }}
        {{ residence[0].nbLocationTotal }}
        disponible : {{ residence[0].available|date('d/m/Y') }}
            {% if residence[0].tenantId == null %}
            Non occupé
        {% else %}
            Actuellement occupé
        {% endif %}
    {% endfor %}

{% endblock %}